
* {
    margin: 0;
    padding: 0;
  }
  
  @import url("common.css");
  
  body {
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
  }
  
  footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 20px;
  }
  
  footer h2 {
    color: white;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }
  